.App {
  display: flex;
}
.editor {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid lightgray;
}
.hue-editor {
  margin: 10px 0;
}
.image-editor {
  border: 1px solid;
}
